
<template>
  <div>
    <section class="hero is-medium is-primary is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            {{ title }}
          </h1>
          <h2 class="subtitle">
            {{ subtitle }}
          </h2>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="heading">
          <h1 class="title">Section</h1>
          <h2 class="subtitle">
            A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading
          </h2>
        </div>
      </div>
    </section>
  </div>
</template>


<script>

export default {
  data() {
    return {
      title: 'About VueTutorials',
      subtitle: 'A VueTutorials subtitle'
    }
  }
}

</script>


<style scoped>

.title {
  margin: 50px 0;
}

</style>
