<template>
  <div id="submitPost">
    <section class="hero is-medium is-primary is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            {{ title }}
          </h1>
          <h2 class="subtitle">
            {{ subtitle }}
          </h2>
        </div>
      </div>
    </section>
    <div class="container">
      <div class="columns">
        <div class="column is-half is-offset-one-quarter">
          <form class="" action="#" method="post">
            <div class="field">
              <p class="control">
                <input class="input is-focused" type="text" placeholder="Title">
              </p>
            </div>
            <div class="field">
              <p class="control">
                <input class="input is-focused" type="text" placeholder="Short description">
              </p>
            </div>
            <div class="field">
              <p class="control">
                <input class="input is-focused" type="text" placeholder="Keywords">
              </p>
            </div>
            <div class="field">
              <p class="control">
                <textarea class="textarea is-focused" placeholder="Content..."></textarea>
              </p>
            </div>
            <div class="field">
              <p class="control">
                <span class="select">
                  <select>
                    <option>Category</option>
                    <option>With options</option>
                    <option>With options</option>
                    <option>With options</option>
                    <option>With options</option>
                    <option>With options</option>
                    <option>With options</option>
                  </select>
                </span>
              </p>
            </div>
            <div class="field">
              <p class="control">
                <label class="checkbox">
                  <input type="checkbox">
                  I agree to the <a href="#">terms and conditions</a>
                </label>
              </p>
            </div>
            <div class="field is-grouped">
              <p class="control">
                <button class="button is-primary">Submit</button>
              </p>
              <p class="control">
                <button class="button is-link">Cancel</button>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>

export default {
  data() {
    return {
      title: 'Submit A Tutorial',
      subtitle: 'A VueTutorials subtitle'
    }
  }
}

</script>
<style scoped>
  form {
    margin: 50px 0;
  }
</style>
