<template lang="html">
  <div class="container">
    <div class="columns">
      <div v-if="login" class="column is-half is-offset-one-quarter">
        <form action="/register" method="post">
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="email" placeholder="Email">
              <span class="icon is-small is-left">
                <i class="fa fa-envelope"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="password" placeholder="Password">
              <span class="icon is-small is-left">
                <i class="fa fa-lock"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control">
              <button class="button is-primary">
                Login
              </button>
            </p>
          </div>
        </form>
        <p align="center">Don't have an account? <span @click="register = true; login = false;">Get Registered</span></p>
      </div>
      <div v-if="register" class="column is-half is-offset-one-quarter">
        <form action="/register" method="post">
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="email" placeholder="Email">
              <span class="icon is-small is-left">
                <i class="fa fa-envelope"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="password" placeholder="Password">
              <span class="icon is-small is-left">
                <i class="fa fa-lock"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control">
              <button class="button is-primary">
                Login
              </button>
            </p>
          </div>
        </form>
        <p align="center">Already have an account? <span @click="register = false; login = true;">Login.</span></p>
      </div>
    </div>
  </div>
</template>

<script>

  export default {
    data() {
      return {
        login: true,
        register: false
      }
    }
  }

</script>

<style lang="css" scoped>
  .container {
    margin-top: 50px;
  }
  span {
    color: #41B883;
    cursor: pointer;
  }
</style>
