<template>
  <div>
    <section class="hero is-medium is-primary is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            {{ title }}
          </h1>
          <h2 class="subtitle">
            {{ subtitle }}
          </h2>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="heading">
          <h1 class="title">Latest Tutorials</h1>
          <h2 class="subtitle">
            A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading
          </h2>
        </div>
        <div class="columns">
          <div class="column">
            <tutorial-card card-title="Tim's Card" card-content="This is some silly content that Tim made"></tutorial-card>
          </div>
          <div class="column">
            <tutorial-card card-title="Tim's Card" card-content="This is some silly content that Tim made"></tutorial-card>
          </div>
          <div class="column">
            <tutorial-card card-title="Tim's Card" card-content="This is some silly content that Tim made"></tutorial-card>
          </div>
          <div class="column">
            <tutorial-card card-title="Tim's Card" card-content="This is some silly content that Tim made"></tutorial-card>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="heading">
          <h1 class="title">Tutorial Categories</h1>
          <h2 class="subtitle">
            A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading
          </h2>
        </div>
        <div class="columns">
          <div class="column">
            <tutorial-card card-title="Tim's Card" card-content="This is some silly content that Tim made"></tutorial-card>
          </div>
          <div class="column">
            <tutorial-card card-title="Tim's Card" card-content="This is some silly content that Tim made"></tutorial-card>
          </div>
          <div class="column">
            <tutorial-card card-title="Tim's Card" card-content="This is some silly content that Tim made"></tutorial-card>
          </div>
          <div class="column">
            <tutorial-card card-title="Tim's Card" card-content="This is some silly content that Tim made"></tutorial-card>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import TutorialCard from '~components/TutorialCard.vue'

export default {
  components: {
    TutorialCard
  },
  data() {
    return {
      title: 'VueTutorials',
      subtitle: 'A VueTutorials subtitle'
    }
  }
}

</script>

<style scoped>
.title {
  margin: 50px 0;
}
.heading {
  margin-bottom: 50px;
}
</style>
