/*
Vue Green: #41B883;
Vue Navy: #35495E;
Vue White: #ffffff;
VueTuts Lavender: #594157;
*/

a, a:hover, a:focus, a:visited
{
  color: #594157;
}

.logo {
  width: 400px;
}

.page-enter-active, .page-leave-active
{
  transition: opacity .5s
}
.page-enter, .page-leave-active
{
  opacity: 0
}
