<template>
  <div id="vuetutsNavigation">
    <nav class="nav has-shadow">
      <div class="container">
        <div class="nav-left">
          <a class="nav-item">
            <img src="http://bulma.io/images/bulma-logo.png" alt="Bulma logo">
          </a>
          <nuxt-link class="nav-item is-tab is-hidden-mobile" to="/">Home</nuxt-link>
          <nuxt-link class="nav-item is-tab is-hidden-mobile" to="/tutorials">Tutorials</nuxt-link>
          <nuxt-link class="nav-item is-tab is-hidden-mobile" to="/about">About</nuxt-link>
          <nuxt-link class="nav-item is-tab is-hidden-mobile" to="/submit">Submit</nuxt-link>
        </div>
        <div class="nav-center">
          <div class="field nav-item">
            <p class="control has-icons-left has-icons-right">
              <input class="input is-primary" type="text">
              <span class="icon is-small is-left">
                <i class="fa fa-search"></i>
              </span>
            </p>
          </div>
        </div>
        <span class="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>
        <div class="nav-right nav-menu">
          <nuxt-link class="nav-item is-tab is-hidden-tablet" to="/">Home</nuxt-link>
          <nuxt-link class="nav-item is-tab is-hidden-tablet" to="/tutorials">Tutorials</nuxt-link>
          <nuxt-link class="nav-item is-tab is-hidden-tablet" to="/about">About</nuxt-link>
          <nuxt-link class="nav-item is-tab is-hidden-tablet" to="/submit">Submit</nuxt-link>
          <a class="nav-item is-tab">Login/Register</a>
        </div>
      </div>
    </nav>
  </div>
</template>
<script>
export default {
  name: "vuetutsNavigation",
  data: function data() {
    return {

    }
  }
}
</script>
<style>
</style>
