<template>

    <div id="tutorialCard" class="card">
      <header class="card-header">
        <p class="card-header-title">
          {{ cardTitle }}
        </p>
        <a class="card-header-icon">
          <span class="icon">
            <i class="fa fa-angle-down"></i>
          </span>
        </a>
      </header>
      <div class="card-content">
        <div class="content">
          {{ cardContent }}
          <br>
          <small>11:09 PM - 1 Jan 2016</small>
        </div>
      </div>
      <footer class="card-footer">
        <a class="card-footer-item">Save</a>
        <nuxt-link to="/posts/post" class="card-footer-item">View</nuxt-link>
      </footer>
    </div>

</template>


<script>
  export default {
    name: "tutorialCard",
    props: ['cardTitle', 'cardContent'],
    data: function data() {
      return {

      }
    }
  }
</script>


<style scoped>
  a:hover, a:focus, a:visited
  {
    color: #594157;
  }
  a {
    color: #41B883;
  }
  .card-header-title {
    color: #594157;
  }
</style>
