<template>
  <div>
    <my-navigation/>
    <nuxt/>
    <my-footer/>
  </div>
</template>

<script>
import MyFooter from '~components/Footer.vue'
import MyNavigation from '~components/Navigation.vue'

export default {
  components: {
    MyFooter,
    MyNavigation
  }
}
</script>

<style>

  .heading > .title {
    color: #594157;
  }

</style>
